@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #1a73e8;
  --secondary-color: #e8f0fe;
  --background-color: #ffffff;
  --text-color: #555;
  /* ----------- */

  --yellow: #ffb600;
  --gray: #ebebeb;
  --white: #ffffff;
  --gray-dark: #252525;

  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

.dark {
  --primary-color: #121212;
  --secondary-color: #ffffff;
  --bg-color: #000000;
  --text-color: #ffffff;
}

body,
p {
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased !important;
  line-height: 26px;
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #212121;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased !important;
}

h1 {
  font-size: 36px;
  line-height: 48px;
}

h2 {
  font-size: 28px;
  line-height: 36px;
  text-transform: uppercase;
  letter-spacing: -1px;
}

h3 {
  font-size: 24px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: -0.5px;
}

h4 {
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: -0.2px;
}

h5 {
  font-size: 14px;
  line-height: 24px;
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
/*---------------------- Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
/*---------------------- Helper classes */
.cmn_pad {
  padding-inline: 1rem;
  margin-inline: auto;
  width: 100%;
}
@media (min-width: 576px) {
  .cmn_pad {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .cmn_pad {
    max-width: 720px;
  }
}
@media (min-width: 1024px) {
  .cmn_pad {
    max-width: 980px;
  }
}
@media (min-width: 1280px) {
  .cmn_pad {
    max-width: 1140px;
  }
}
