@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background-color: #ffffff;
  --text-color: #555;
  --yellow: #ffb600;
  --gray: #ebebeb;
  --gray-dark: #252525;
  --white: #ffffff;
}

.dark {
  --background-color: #000000;
  --text-color: #ffffff;
}
/* Typography */
body,
p {
  font-family: var(--font-open-sans), Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased !important;
  line-height: 1.6;
  font-size: 0.9375rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  font-weight: 700;
  font-family: var(--font-mont-serrat), sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased !important;
}

h1 {
  font-size: clamp(2rem, 5vw, 2.25rem);
  line-height: 1.335;
}

h2 {
  font-size: clamp(1.75rem, 4vw, 2rem);
  line-height: 1.285;
  text-transform: uppercase;
  letter-spacing: -1px;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1.2;
  text-transform: uppercase;
  letter-spacing: -0.5px;
}

h4 {
  font-size: 1.125rem;
  line-height: 1.56;
  text-transform: uppercase;
  letter-spacing: -0.2px;
}

h5 {
  font-size: 0.875rem;
  line-height: 1.72;
}
/*---------------------- Helper classes */
.container {
  padding-inline: 1rem;
  margin-inline: auto;
  width: 100%;
  max-width: 540px;
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 980px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1140px;
  }
}
